/* line 8, ../sass/main.sass */
html {
  font-size: 100%;
}

/* line 11, ../sass/main.sass */
body {
  font: 0.75em/1.5 "Lucida Grande", "Helvetica Neue", sans-serif;
  color: #b4bac3;
}

/* line 15, ../sass/main.sass */
input, select {
  border-radius: 0 !important;
}

/* line 18, ../sass/main.sass */
a {
  color: #626c7c;
}
/* line 21, ../sass/main.sass */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 25, ../sass/main.sass */
h3 {
  font-size: 1.2em;
  line-height: 1.5;
  color: #626c7c;
  font-weight: normal;
}

/* line 31, ../sass/main.sass */
.left {
  float: left;
}

/* line 34, ../sass/main.sass */
.right {
  float: right;
}

/* line 37, ../sass/main.sass */
#header-wrap {
  border-bottom: 1px solid #f2f2f2;
  padding: 18px 0;
}

/* line 42, ../sass/main.sass */
header#main .dropdown {
  float: right;
}

/* line 46, ../sass/main.sass */
nav#main a {
  color: #b4bac3;
  margin-right: 10px;
}

/* line 50, ../sass/main.sass */
.notice-wrap {
  padding: 9px 0 0;
  background-color: #1790d2;
  color: white;
}

/* line 55, ../sass/main.sass */
#main-content {
  margin-top: 25px;
  padding-bottom: 90px;
}
/* line 59, ../sass/main.sass */
#main-content header {
  margin-bottom: 25px;
  color: #626c7c;
}
/* line 63, ../sass/main.sass */
#main-content header #search-bar input {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  width: 100px;
  font-size: 1em;
}
/* line 71, ../sass/main.sass */
#main-content header h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: -5px;
  margin-bottom: 0;
  line-height: 1.5;
}
/* line 78, ../sass/main.sass */
#main-content .status {
  color: #c2c7cf;
}
/* line 81, ../sass/main.sass */
#main-content .status span {
  margin-right: 10px;
}

/* line 84, ../sass/main.sass */
#unified-notice {
  text-align: right;
}
/* line 87, ../sass/main.sass */
#unified-notice a {
  background-color: #61bcee;
  color: white;
  padding: 6px 10px;
  margin-top: -6px;
}

/* line 94, ../sass/main.sass */
#main-list .dropdown {
  float: right;
}
/* line 96, ../sass/main.sass */
#main-list .dropdown .btn {
  padding: 0px 3px;
}
/* line 100, ../sass/main.sass */
#main-list .list-wrap dl {
  font-size: 0.688em;
}
/* line 102, ../sass/main.sass */
#main-list .list-wrap dt {
  font-weight: normal;
  color: #626c7c;
}
/* line 105, ../sass/main.sass */
#main-list .list-wrap dd {
  margin-left: 0;
}
/* line 108, ../sass/main.sass */
#main-list .list-item {
  background-color: #f2f2f2;
  padding: 6px 5px;
  border-radius: 3px;
  height: 128px;
  position: relative;
}
/* line 115, ../sass/main.sass */
#main-list .list-item h3 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/* line 120, ../sass/main.sass */
#main-list .list-item:hover {
  cursor: move;
  background-color: #ebebeb;
  border: 3px solid #1790d2;
  height: 122px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 127, ../sass/main.sass */
#main-list .add {
  border: 2px dashed #f2f2f2;
  background-color: white;
  text-align: center;
  font-size: 1.2em;
}
/* line 133, ../sass/main.sass */
#main-list .add:hover {
  background-color: #fafafa;
  border: 2px dashed #f2f2f2;
  height: 128px;
  box-shadow: none;
  cursor: pointer;
}
/* line 141, ../sass/main.sass */
#main-list .add span {
  position: relative;
  top: 25%;
}
/* line 146, ../sass/main.sass */
#main-list .status {
  position: absolute;
  bottom: 0px;
  left: 12px;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  border-radius: 20px;
}
/* line 155, ../sass/main.sass */
#main-list .green {
  background-color: #81b822;
}
/* line 158, ../sass/main.sass */
#main-list .red {
  background-color: #e5172c;
}
/* line 161, ../sass/main.sass */
#main-list .yellow {
  background-color: #fbd035;
}
/* line 164, ../sass/main.sass */
#main-list .view i {
  color: #1790d2;
  position: absolute;
  font-size: 60px;
  padding: 0;
  text-align: center;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100px;
}
/* line 176, ../sass/main.sass */
#main-list .view i:hover {
  color: #61bcee;
}
/* line 179, ../sass/main.sass */
#main-list .attachment {
  list-style: none;
  margin-left: -50px;
  margin-bottom: 0;
}
/* line 184, ../sass/main.sass */
#main-list .attachment li a {
  background-color: #1790d2;
  color: white;
  display: block;
  width: 45px;
  padding: 0 3px;
  margin: 3px;
  border-radius: 3px;
}
/* line 193, ../sass/main.sass */
#main-list .attachment li a:hover {
  background-color: #33a9e9;
}

/* line 197, ../sass/main.sass */
#vm-tab {
  list-style: none;
}
/* line 200, ../sass/main.sass */
#vm-tab a {
  color: #b4bac3;
}
/* line 203, ../sass/main.sass */
#vm-tab .active {
  font-weight: bold;
}
/* line 206, ../sass/main.sass */
#vm-tab .active a {
  color: #626c7c;
}

/* line 209, ../sass/main.sass */
#proj-create,
#volume-list,
#volume-list-attached,
#new-volume,
#attach-volume {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -440px;
  margin-top: -197px;
  width: 800px;
  padding: 32px 40px 18px;
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #f2f2f2;
}
/* line 226, ../sass/main.sass */
#proj-create td, #proj-create th,
#volume-list td,
#volume-list th,
#volume-list-attached td,
#volume-list-attached th,
#new-volume td,
#new-volume th,
#attach-volume td,
#attach-volume th {
  padding-left: 0;
}
/* line 229, ../sass/main.sass */
#proj-create th,
#volume-list th,
#volume-list-attached th,
#new-volume th,
#attach-volume th {
  font-weight: normal;
  color: #626c7c;
}
/* line 233, ../sass/main.sass */
#proj-create input[id=proj-name],
#volume-list input[id=proj-name],
#volume-list-attached input[id=proj-name],
#new-volume input[id=proj-name],
#attach-volume input[id=proj-name] {
  width: 98%;
}

/* line 236, ../sass/main.sass */
#info dl {
  margin: 0 0 3px 0;
}
/* line 239, ../sass/main.sass */
#info dt {
  color: #626c7c;
  font-weight: normal;
}
/* line 242, ../sass/main.sass */
#info dd {
  margin-left: 0;
}

/* line 245, ../sass/main.sass */
.footer-wrap {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid #f2f2f2;
  color: #626c7c;
}
/* line 254, ../sass/main.sass */
.footer-wrap .command {
  text-align: center;
  padding: 18px 5px 12px;
  margin-right: 0;
  cursor: pointer;
}
/* line 260, ../sass/main.sass */
.footer-wrap .command:hover {
  background-color: #edeef0;
}
/* line 263, ../sass/main.sass */
.footer-wrap i {
  font-size: 2em;
  margin-bottom: 9px;
}
/* line 267, ../sass/main.sass */
.footer-wrap p {
  font-size: 0.75em;
  margin-bottom: 0;
}

/* line 271, ../sass/main.sass */
.help-block {
  color: #cccccc;
}

/* line 275, ../sass/main.sass */
label {
  color: #626c7c;
}
