body
	font-family: 'Open Sans', sans-serif
	
a:hover
	text-decoration: none

.left
	float: left
	
.right
	float: right

#mainnav-wrap
	background-color: #CF6C67
	padding: 3px 20px
	font-size: 11px
	
	a
		color: #FFF
		margin-right: 20px
		
#head-wrap 
	background: #202020
	border-bottom: 1px solid #ddd
	color: #fff
	padding: 15px 20px
	
	#proj-name
		margin: 0
		font-size: 14px
		font-weight: bold
		color: #FFF

#instances,
#details 
	float: left
	overflow: auto
	
#instances
	width: 19.9%
	border-right: 1px solid #ddd
	background-color: #f6f6f6
	
	header
		border-bottom: 1px solid #ddd

	dd
		margin-left: 0
	h4
		margin: 0
		font-weight: normal
		font-size: 16px
		padding: 18px 20px
.instance-item
	border-bottom: 1px solid #ddd
	padding: 0 20px
	
	.vm-img 
		float: left
		width: 20px
		height: 30px
		margin-right: 20px
		font-size: 28px
		
	
#details 
	width: 80%
	background-color: #FFF
	
	h2
		font-size: 28px
		font-weight: normal
		
	dl 
		float: left
	
	dd,dt
		display: inline-block 
		margin-left: 0
		
#main-wrap
	.nav
		background-color: #f6f6f6
		margin-bottom: 0
		
		a
			text-align: center
			width: 200px
			font-size: 16px
			padding: 18px 20px
			
			i
				font-size: 18px
			
		li:nth-child(1) a
			border-radius: 0
			border-left: none
			border-top: none
			border-bottom: 2px solid #FFF
		
#footer-wrap
	padding: 9px 20px
	position: fixed
	bottom: 0 
	display: block
	width: 100%
	background: #202020
	color: #fff
	
.dropdown-menu li
	color