body
	font-family: 'Open Sans', sans-serif

.left
	float: left
	
.right
	float: right
	
#head-wrap 
	background: #202020
	color: #fff
	
	h3 
		margin: 0
		font-size: 14px
	
#main-wrap	
	#instances,
	#details 
		float: left
		overflow: auto
		
	#instances
		width: 20%
		background-color: #f6f6f6
	#details 
		width: 80%
		background-color: #FFF
	.nav
		background-color: #f6f6f6
		
#footer-wrap
	position: fixed
	bottom: 0 
	display: block
	width: 100%
	background: #202020
	color: #fff
	
.dropdown-menu li
	color