@font-face {
	font-family: 'entypo';
	src:url('../font/entypo.eot');
	src:url('../font/entypo.eot?#iefix') format('embedded-opentype'),
		url('../font/entypo.svg#entypo') format('svg'),
		url('../font/entypo.woff') format('woff'),
		url('../font/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'entypo';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-plus:before {
	content: "\61";
}
.icon-arrow-down:before {
	content: "\62";
}
.icon-screen:before {
	content: "\63";
}
.icon-cd:before {
	content: "\64";
}
.icon-graph:before {
	content: "\65";
}
.icon-list:before {
	content: "\66";
}
